#Dam3Font {
	font-family: Dam3Font, $mainFont;	
	font-size: 22px;
}


#Damcursv1 {
	font-family: Damcursv1, $mainFont;	
	font-size: 24px;
}

#Damspeed {
	font-family: Damspeed, $mainFont;	
	font-size: 22px;
}
