/* Devices
-------------------------------*/


@viewport{
	zoom: 1.0;
    width: extend-to-zoom;
}



/* Large desktops and laptops */
@media (min-width: 1200px) {

#myDropDown {
	display: none;
}

#mobileSidebar {
	display: none;
}

.hideMini {
	display: none;
}


}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


#myDropDown {
	display: none;
}

#mobileSidebar {
	display: none;
}

.siteTools .nav > li > a {
	padding: 9px 10px; // height first number for solid part    
}

.wrapThumbs {
	margin-top: -10em;
}

.hideMini {
	display: none;
}

.bantop { 				/* Top banner */
  	margin-left: 49%;
// transform: translateX(-50%);	
}



}




/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


.wrapThumbs {
	margin-top: -8.5em;
}

#mobileAd {
	width: 20%;
}

#myButton {
	display: none;
}

#iglIcon {
	width: 35%;
}

#discordBut {
	width: 30%;
}

#submitBut {
	width: 35%;
}


#pcSidebar {
	display: none;
}


#backgroundImage2 {
	background-size: 35%;
}


#BlogSearch1 {	
//width: 30%;
}

.siteTools .nav > li > a {
	padding: 10px 10px; // height first number for solid part  
}

.blog-container {
//padding: 0;
//margin-left: -1.5em;
//margin-right: -1.5em;	
}

.backimage {
	margin-right: 0;
    margin-left: 0;
}

.col-sm-9 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body {
	overflow-x: hidden;	
}

.site-main, .top-main, .site-carousel, .site-mini {  
//margin-left: 0;  
}


.carousel-control.left {
	left:3%;
}

.carousel-control.right {
	right:3%;
}

.searchBlog table.gsc-search-box {
	margin-top: -25px;
}

.bantop { 				/* Top banner */
  	margin-left: 48%;
// transform: translateX(-50%);	
}


}




/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.searchBlog table.gsc-search-box {
	width: 150px;
	margin-left: 240px;
	margin-top: -33px;
}

.wrapThumbs {
	margin-top: -10em;
}


/*
ul.navbar-nav, ul.navbar-nav li {
 	display:inline;
	float: left;
//margin-left: 35px;
	margin-right: 0px;
	margin-top: -25px;
	padding: 0;
}

ul.navbar-nav {
	margin-left: 70px;
} */


.siteTools .navbar-nav>li>.dropdown-menu {
	background-color: $colorLightestBrown;
}

.siteTools .navbar-nav>li>a {
	background-color: $colorLightestBrown;	
}

.siteTools .nav>li>a:focus, .siteTools .nav>li>a:hover {
	background-color: $colorLightPink;	
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	background-color: transparent;	
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
	background-color: $colorWhiteBrown;
}


/* 
#BlogSearch1 {	
	width: 30%;
	margin-top: -52px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 60px;	
} */



.bantop { 				/* Top banner */
  	margin-left: 46%;
// transform: translateX(-50%);	
}


.xopostimg {
//float: none;
	margin-bottom: 1.75em;	
}


.xopostsummary { 
//text-align: left;
//margin-left: 5px;
	margin-top: .75em;	
}


.siteTools .nav > li > a {
	padding: 10px 10px; // height first number for solid part
}

#myButton {
	display: none;
}

#discordBut {
	width: 20%;
}

#submitBut {
	width: 25%;
}

#iglIcon {
	width: 20%;
}

#pcSidebar {
	display: none;
}

h3.post-title {
	width: 110%;	
}

.post-outer {	
	margin-right: -1.5em !important;	
}

#backgroundImage2 {
	background-size: 40%;
}

.blog-container {
	padding: 0;
	margin-left: -1.5em;
	margin-right: -1.5em;
}


.backimage {
	margin-right: 0;
    margin-left: 0;
}

.col-sm-9 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#mobileAd {
	width: 13%;
}

body {
	overflow-x: hidden;	
}

.site-main, .top-main, .site-carousel, .site-mini {  
     margin-left: 0;  
}

.carousel-control.left {
	left:2%;
}

.carousel-control.right {
	right:2%;
}

}



/* Portrait phones and smaller */
@media (max-width: 480px) {


.flex-direction-nav a.flex-next:before {
	margin-top: 2em;
}

.flex-direction-nav a:before {
	margin-top: 2em;	
}


.wrapThumbs {
	margin-top: -20em;
}

.wrapThumbsa {
	line-height: 300px;
	max-height: 300px;	
}


.searchBlog table.gsc-search-box {
	width: 120px;
	margin-left: 50px;	
	margin-top: -30px;
}

h3, .h3 {
	font-size: 21px;
}

.blog-container {
	margin-top: 2.5em;
}

.navbar-default .navbar-brand {
	color: $colorBlack;
	font-size: 1em;
	font-family: $mainFont;
}



.bantop { 				/* Top banner */
  	margin-left: 47%;
// transform: translateX(-50%);		
}

#myButton {
	display: none;
}

#pcSidebar {
	display: none;
}

#discordBut {
	width: 30%;
}

#submitBut {
	width: 35%;
}

#iglIcon {
	width: 30%;
}


.siteTools .nav > li > a {
	padding: 10px 10px; // height first number for solid part
}

h3.post-title {
	width: 117%;	
}

#backgroundImage2 {
	background-size: 50%;
}

.post-outer {	
	margin-right: -0 !important;	
}

.blog-container {
	padding: 0;
	margin-left: -1.5em;
	margin-right: -1.5em;
}


.xopostimg {
	float: none;
	margin-bottom: 1.75em;	
}


.xopostsummary { 
	text-align: left;
	margin-left: 5px;
	margin-top: .75em;	
}


.backimage {
	margin-right: 0;
    margin-left: 0;
}

.col-sm-9 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#mobileAd {
	width: 22%;
}


body {
	overflow-x: hidden;	
}

.site-main, .top-main, .site-carousel, .site-mini {  
     margin-left: 0;  
}

.carousel-control.left {
	left:7%;
}

.carousel-control.right {
	right:7%;
}


}
